/* .product__quantity {
    display: flex;
    height: 28px;
    
} */

/* @media (min-width: 400px) {
    .product__quantity {
        height: 32px;
    }
} */

.product__quantityBtn {
    font-size: 15px;
    height: 36px;
    width: 36px;
    line-height: 34px;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.2);
    float: left;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #111;
}
.product__quantityBtn:focus {
    outline: none;
}
.product__quantityBtn.disabled {
    border-left-color: #ccc;
    border-bottom-color: #ccc;
    border-top-color: #ccc;
    color: #ccc;
    cursor: no-drop;
    visibility: hidden;
}
.product__quantityBtn.less {
    border-right: none;
    font-size: 20px;
    line-height: 0.5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.product__quantityBtn.plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.product__quantityText {
    
    height: 36px;
    width: 36px;
    line-height: 34px;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.2);
    float: left;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #111;
    font-size: 13px;
    background: #f5f5f5;
}
/* .product__quantityText.radius {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} */
