@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;

    padding: 0;

    border: 0;

    font-size: 100%;
    
    font: inherit;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;

    overflow-x: hidden;
    
    background-color: #fcfcfc;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";

    content: none;
}

table {
    border-collapse: collapse;
    font-weight: bold;
    border-spacing: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* ==================

	1.2. TYPOGRAPHY.

   ================== */

h1 {
    font-size: 24px;
    font-display: swap;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-display: swap;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-display: swap;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
}

h4 {
    font-display: swap;
    font-family: 'Roboto', sans-serif;   
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

h5 {
    font-size: 16px;
    font-display: swap;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h6 {
    font-size: 14px;
    font-display: swap;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

p {
    
    font-display: swap;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #666666;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
}

/* ==================

	1.3. BUTTONS.

   ================== */

.btn {
    display: inline-block;

    padding: 5px 10px;

    margin-bottom: 0;

    font-size: 16px;

    font-weight: normal;

    line-height: 1.7;

    text-align: center;

    white-space: nowrap;

    vertical-align: middle;

    -ms-touch-action: manipulation;

    touch-action: manipulation;

    cursor: pointer;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

    background-image: none;

    border: 1px solid transparent;

    border-radius: 50px;

    font-family: "Source Sans Pro", sans-serif;

    width: 150px;

    height: 40px;
}


.btn-custom {
    color: #fff;

    background-color: #b24835;

    border-color: #b24835;

    transition: 0.3s;

    border-radius: 50px;
}

.btn-custom:focus,
.btn-custom.focus {
    color: #fff;

    background-color: #31201d;

    border-color: #31201d;
}

.btn-custom:hover {
    color: #fff;

    background-color: #31201d;

    border-color: #31201d;
}

.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
    color: #fff;

    background-color: #31201d;

    border-color: #31201d;
}

.btn-info {
    color: #000000;

    background-color: #cccccc;

    border-color: #cccccc;

    transition: 0.3s;
}

.btn-info:focus,
.btn-info.focus {
    color: #fff;

    background-color: #cccccc;

    border-color: #cccccc;
}

.btn-info:hover {
    color: #fff;

    background-color: #595959;

    border-color: #595959;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;

    background-color: #595959;

    border-color: #595959;
}

.btn-more {
    color: #fff;

    background-color: #b24835;

    border-color: #b24835;

    transition: 0.3s;

    padding: 8px 20px;

    font-weight: 600;

    font-size: 16px;

    font-family: 'Roboto', sans-serif;
    font-display: swap;
    margin-top: 10px;
}

.btn-more:focus,
.btn-more.focus {
    color: #fff;

    background-color: #b24835;

    border-color: #b24835;
}

.btn-more:hover {
    color: #fff;

    background-color: #b24835;

    border-color: #b24835;
}

.btn-more:active,
.btn-more.active,
.open > .dropdown-toggle.btn-default {
    color: #fff;

    background-color: #b24835;

    border-color: #b24835;
}

/* ==========================================================================

   	2. LAYOUT MODULE.

   ========================================================================== */

/* ==================

	2.1. SPACING AND ALIGNMENT.

   ================== */

.wrapper {
    width: 100%;

    height: auto;

    overflow: hidden;

    background-color: #fcfcfc;
}

.main {
    margin: 50px 0px 50px 0px;
}

.no-margin-bottom {
    margin: 50px 0px 0px 0px;
}

.section {
    padding: 15px;

    margin: 0px auto 0px auto;
}

.section-full {
    padding: 15px;

    padding: 0px 15px 0px 15px;

    margin: 0px auto 0px auto;
}

.color-background {
    padding: 40px 0px 40px 0px;
    background: #fff;
    /* background: #fcfcfc; */
    /* background: rgb(249,249,249, 0.01); */
}

@media (min-width: 1200px) {
    .section {
        width: 1200px;
    }

    .section-full {
        width: 1800px;
    }

    hr.top-line {
        width: 1170px;
    }
}

hr.top-line {
    border-top: 1px solid #fff;

    margin: 0px auto 0px auto;
}

/* Toolbar */
#toolbar {
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 14px 50px;
    height: 64px;
    background-color: #272727;
    border-color: #1e1e1e;
    color: #fff;
    flex: 1 1 auto;
    max-width: 100%;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
        0 1px 10px 0 rgb(0 0 0 / 12%);
}

#carro-icon{
  position:absolute !important;
  top:18px !important;
  right: 6% !important;
}

#buscar-icon{
  position:absolute !important;
  top:19px !important;
  right: 9% !important;
}

#listado-icon{
  position: absolute;
    width: 50px;
    height: 50px;
    right: 0px;
    margin-top: -0.65rem;
    
}
/* .v-list-item-avatar{
  margin-top:15px;
  height: 75px;
   min-width: 60px;
   width: 80px;
   border-radius: unset !important;
} */

@media (max-width: 425px) {
  #toolbar {
    width:100%; 
    position:fixed; 
    z-index:99;
    padding: 8px;
    height: 56px;
  }

  #carro-icon{
    position:absolute !important;
    top:11px !important;
    right: 6% !important;
  }

  #listado-icon{
    top: calc(8.5rem + 1.0rem);
    right: 6px;
    width: 30px;
  }

  #listado-icon svg{
    width: 18px !important;
    height: 18px !important;
  }
}
@media (max-width: 320px) {
  #listado-icon{
    top: calc(8.5rem - 4px);
    right: 6px;
    width: 25px;
  }

  #listado-icon svg{
    width: 14px !important;
    height: 14px !important;
  }
}

/* ==================

	2.3. SIDEBAR.

   ================== */

.sidebar {
    height: 100%;

    clear: both;
}

/* ==================

	2.5. FOOTER.

   ================== */

.footer {
    width: 100%;

    background: #000000;

    height: auto;
    overflow: hidden;

    max-height: 580px;
}

@media (max-width: 550px) {
    .footer {
        max-height: 1181px;
    }
}

@media (max-width: 319px) {
    .footer {
        max-height: 1207px;
    }
}

.footer .main {
    margin: 20px 0px 40px 0px;

    padding: 0 10px;
}

.footer .main .section {
    padding: 60px 15px 0px 15px;
}

.footer a:link {
    text-decoration: none;

    color: #d9d9d9;
}

.footer a:visited {
    text-decoration: none;

    color: #d9d9d9;
}

.footer a:hover {
    text-decoration: none;

    color: #fff;
}

.footer a:active {
    text-decoration: none;

    color: #d9d9d9;
}

hr.line-footer {
    border-top: 1px solid #595959;

    margin: 30px auto 30px auto;
}

.footer-logo {
    width: 120px;

    margin-bottom: 10px;

    margin-right: 25px;
}

.footer-logo img {
    width: 180px;
}

#fot-logo {
    display: flex;

    justify-content: center;

    /* align horizontal */

    align-items: center;

    /* align vertical */

    width: auto;

    height: 120px;
}

@media (max-width: 1120px) {
    #fot-logo {
        width: auto;
    }

    /* .footer{

    min-height: 950px;

 } */
}

@media (max-width: 768px) {
    #fot-logo {
        width: auto;
    }
}

.about-footer p {
    color: #d9d9d9;
}

.social-footer {
    text-align: center;
    margin-top: 30px;
    padding: 0 10%;
}

.social-footer h6 {
    color: #d9d9d9;
}

.social-items {
    display: inline-block;

    margin: 10px 5px 0px 0px;
}

.social-items .fa {
    color: #fff;

    font-size: 18px;

    transition: 0.3s;
}

.social-items .fa:hover {
    color: #fff;
}

.icon-fa {
    display: inline-block;

    font-size: 25px;

    line-height: 44px;

    background: #595959;

    color: #fff;

    width: 40px;

    height: 40px;

    text-align: center;

    vertical-align: bottom;

    border-radius: 5px;

    float: left;

    border: solid 1px #595959;

    transition: 0.3s;
}

.icon-fa:hover {
    background: #b24835;

    border: solid 1px #b24835;
}

.footer-categories h6 {
    color: #d85644;
}

.categories-list {
    margin: 10px 15px 0px 0px;

    display: inline-block;

    font-size: 14px;

    font-family: 'Roboto', sans-serif;
    font-display: swap;
}

.categories-list-2 {
    margin-top: 10px;

    display: inline-block;

    font-size: 14px;

    font-family: 'Roboto', sans-serif;
    font-display: swap;
}

.left-footer {
    float: left;
}

.right-footer {
    float: right;

    color: #595959;
}

.left-footer p {
    color: #d9d9d9;

    font-size: 13px;
}

.right-footer p {
    color: #d9d9d9;

    font-size: 13px;

    transition: 0.3s;
}

.subscribe-footer h6 {
    color: #d85644;

    margin-bottom: 10px;
}

.subscribe-footer p {
    color: #d9d9d9;
}

p.cursive {
    font-style: italic;
}

/* ==========================================================================

   	3. PAGES MODULE.

   ========================================================================== */

/* ==================

	3.1. THEME PAGES COMMON STYLES.

   ================== */

.pages-header {
    background: #012c40;

    height: 445px;

    background-attachment: fixed;

    background-position: bottom;

    background-repeat: no-repeat;

    background-size: cover;

    position: relative;

    margin-bottom: 10px;
}

.pages-header-tienda {
  
    clear: both;

    background-attachment: fixed;

    background-position: top;

    background-repeat: no-repeat;

    position: relative;
}

.section-heading {
    width: auto;

    position: absolute;

    bottom: 25px;

    left: 4rem;

    background: rgba(0, 0, 0, 0.6);

    width: 17rem;

    padding: 5px 25px 5px 25px;

    border-radius: 25px;
}

.section-heading2 {
    width: auto;

    position: absolute;

    bottom: 10px;

    left: 6%;

    padding: 5px 75px 5px 75px;

    border-radius: 25px;
}

.span-title h1 {
    color: #fff;

    font-size: 1.5em;
}

.span-title p {
    color: #fff;

    font-size: 0.85em;
}

@media only screen and (max-width: 768px) {
    .section-heading {
        bottom: 50%;

        left: 6%;

        width: 13rem;

        padding: 0px 5px 0px 5px;

        border-radius: 25px;
    }
}

.footer-categories {
    padding: 0 10%;

    text-align: center;
}

@media only screen and (max-width: 425px) {
    .section-heading {
        left: 6%;

        width: 13rem;

        padding: 0px 5px 0px 5px;

        border-radius: 25px;
    }

    .span-title h1 {
        color: #fff;

        font-size: 0.85em;
    }

    .span-title p {
        color: #fff;

        font-size: 0.55em;
    }
}

.section-title h2 {
    text-align: center;

    color: #31201d;

    font-weight: 700;

    letter-spacing: 1px;
}

.section-title {
    margin-bottom: 30px;

    padding: 0px 120px 0px 120px;
}

.section-title p {
    text-align: center;

    color: #666;

    line-height: 2;

    margin-top: 10px;

    padding: 0 15rem 0 15rem;

    font-size: 1.19em;
}

hr.center {
    width: 80px;

    border-top: 3px solid #b24835;

    margin: 15px auto 30px auto;
}

@media only screen and (max-width: 1000px) {
    .section-title p {
        text-align: center;

        color: #666;

        line-height: 2;

        margin-top: 10px;

        padding: 0 1.5rem 0 1.5rem;

        font-size: 1.19em;
    }
}

@media only screen and (max-width: 768px) {
    .section-title {
        margin-bottom: 30px;

        padding: 0px 0px 0px 0px;
    }

    .section-title p {
        margin-top: 10px;

        padding: 0px 5px 0px 5px;

        font-size: 1.05em;
    }
}

/* ==================

	3.8. SHOP PAGES.

   ================== */

.shop-banner-img img {
    width: 100%;
}

.shop-front-thumbs {
    background: #fff;

    padding: 20px 0;

    /* height: 430px; */
    border: 1px solid #e2e2e2;

    margin: 20px 0px 0px 0px;

    border-radius: 12px;
}

.shop-front-thumbs:hover {
    box-shadow: 0 0 10px rgba(204, 204, 204, 0.6);

    -moz-box-shadow: 0 0 10px rgba(204, 204, 204, 0.6);

    -webkit-box-shadow: 0 0 10px rgba(204, 204, 204, 0.6);

    -o-box-shadow: 0 0 10px rgba(204, 204, 204, 0.6);
}

hr.shop {
    width: 100%;

    border-top: 1px solid #ddd;

    margin: 8px auto 10px auto;
}

.shop-thumb-img {
    width: 100%;

    margin: auto;
}

.shop-thumb-img img {
    height: 220px;
}

.top-caption {
    /* margin-bottom: 10px;

    width: 200px;*/

    height: 53px;
}

.top-caption h6 {
    color: #b24835;

    line-height: 1.3;

    font-size: 16px;

    font-weight: 700;
}

.bottom-caption {
    margin: 0px 0px 0px 0px;
    padding-left: 8px;
    max-width: 220px;
    clear: both;
}

.bottom-caption h6 {
    color: #000000;

    line-height: 1.3;

    font-size: 16px;

    font-weight: 700;
}

old-price {
    text-decoration: line-through;
}

.rating-box .ratingp-stars {
    display: inline-block;

    margin-right: 2px;

    font-size: 13px;
}

.bottom-caption-left {
    float: left;
}

.bottom-caption-right {
    float: right;
}

hr.more-product {
    width: 100%;

    border-top: 1px solid #e6e6e6;

    margin: 20px 0px 20px 0px;
}

/*****************************/

/* Plugin styles */

ul.thumbnails-carousel {
    padding: 5px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5px;

    list-style-type: none;
}

ul.thumbnails-carousel .center {
    display: inline-block;
}

ul.thumbnails-carousel li {
    margin: 0px 1px 0px 1px;

    float: left;

    cursor: pointer;

    max-width: 90px;
}

ul.thumbnails-carousel li img {
    width: 100%;
    border-radius: 4px;
}

.controls-background-reset {
    background: none !important;
}

/* .active-thumbnail {

	opacity: 0.4;

} */

.indicators-fix {
    bottom: 70px;
}


.carousel-inner {
    height: 100%;
}

@media (max-width: 425px) {
    .bottom-caption {
        padding-left: 0 !important;
        max-width: 135px;

    }
}

@media (max-width: 345px) {
    .bottom-caption {
        padding-left: 0 !important;
        max-width: 98px;

    }
}

@media (max-width: 768px) {
    .middle {
        position: absolute;

        top: 50%;

        left: 50%;

        transform: translate(-50%, -50%);

        text-align: center;
    }

    .middle h1 {
        font-size: 50px;

        text-align: center;
    }

    .middle h2 {
        font-size: 30px;

        text-align: center;

        line-height: 1.3;
    }

    .middle p {
        text-align: center;

        padding-top: 20px;
    }
}

@media (max-width: 440px) {
    .middle h1 {
        font-size: 35px;

        text-align: center;
    }

    .middle h2 {
        font-size: 20px;

        text-align: center;

        line-height: 1.3;
    }
}

.span-item img {
    width: 100%;
}

.horizontal-banner {
    width: 100%;
}

.product-box {
    padding: 2px 10px 2px 10px;
}

.product-box .item-img {
    float: left;

    margin-right: 20px;
}

.product-box .item-details {
    margin: 20px 0px 20px 0px;

    clear: both;

    height: 80px;
}

.product-box .item-details h6 {
    font-size: 16px;

    margin-bottom: 10px;

    color: #b24835;
}

/* ========== #SHOP CLASSIC LEFT SIDEBAR ========== */

.shop-left-sidebar {
    background: #fff;

    margin-top: 0px;
    border: 1px solid #e2e2e2;
    padding: 30px 20px 30px 20px;

    border-radius: 4px;
}

.shop-left-sidebar .search-box {
    width: 100%;

    background: #f2f2f2;
}

.shop-left-sidebar
    .search-box
    .search-container
    .form-group
    .input-group
    .form-control {
    display: block;

    width: 100%;

    height: 40px;

    padding: 6px 12px;

    font-size: 14px;

    line-height: 1.42857143;

    color: #555;

    background: #f2f2f2;

    background-image: none;

    border: none;

    border-radius: 0px;

    -webkit-box-shadow: none;

    box-shadow: none;

    -webkit-transition: none;

    -o-transition: none;

    transition: none;
}

.shop-left-sidebar .search-box {
    width: 100%;

    height: 40px;

    background: #ddd;

    padding: 0px;

    margin: 0px;
}

.shop-left-sidebar
    .search-box
    .search-container
    .form-group
    .input-group
    .input-group-addon {
    background: #f2f2f2;

    border: none;

    border-radius: 0px;

    height: 40px;
}

.shop-left-sidebar
    .search-box
    .search-container
    .form-group
    .input-group
    .input-group-addon
    .fa {
    font-size: 18px;

    color: #b24835;
}

.sidebar-header {
    margin: 30px 0px 20px 0px;
}

.inner-categories .list-group-item {
    position: relative;

    display: block;

    padding: 10px 0px;

    margin-bottom: -1px;

    background-color: #fff;

    border: none;

    font-family: 'Roboto', sans-serif;
    font-display: swap;
    font-size: 14px;

    color: #000000;

    transition: 0.3s;
}

.inner-categories .list-group-item:hover {
    color: rgb(178, 72, 53);

    background: #fff;
}

.inner-categories .list-group-item:hover .badge .fa {
    color: rgb(178, 72, 53);
}

.inner-categories .list-group-item.active > .badge,
.inner-categories .nav-pills > .active > a > .badge {
    color: rgb(178, 72, 53);

    background-color: #fff;
}

.inner-categories .badge {
    display: inline-block;

    min-width: 10px;

    padding: 3px 7px;

    font-size: 14px;

    font-weight: normal;

    line-height: 1;

    color: #000000;

    text-align: center;

    white-space: nowrap;

    vertical-align: middle;

    background-color: transparent;

    border-radius: 0px;
}

.inner-categories .list-group-item .fa {
    font-size: 16px;
}

.divider-categories {
    border-top: 1px solid #e6e6e6;

    margin: 3px auto 3px auto;
}

p.media-heading {
    font-size: 15px;

    color: #b24835;

    line-height: 1.4;
}

.media-body h5 {
    font-size: 15px;

    font-weight: 600;
}

.media-left {
    padding-right: 20px;
}

.promo-banner {
    margin-top: 30px;
}

.promo-banner img {
    width: 100%;
}

/* ==================

	3.9. PRODUCT DETAIL PAGE.

   ================== */

.product-container {
    margin-bottom: 60px;
}

.product-photo-gallery {
    width: 430px;

    float: right;

    /* margin-right: 20px; */

    margin-top: -10rem;
}

@media (max-width: 992px) {
    .product-photo-gallery {
        margin-top: -6rem !important;
    }
}

@media (max-width: 660px) {
    .product-photo-gallery {
        margin-top: -14rem !important;
    }
}

@media (max-width: 430px) {
    .product-photo-gallery {
        margin-top: -14rem !important;
    }
}

@media (max-width: 370px) {
    .product-photo-gallery {
        margin-top: -12rem !important;
    }
}

@media (max-width: 332px) {
    .product-photo-gallery {
        margin-top: -10rem !important;
    }
}

.product-leftside .carousel .carousel-inner .item {
    width: 430px;
}

.product-leftside .carousel .carousel-inner .item img {
    width: 100%;
}

.product-description {
  padding: 6px 50px 0 25px;
  min-height: 200px;
  
}

@media (max-width: 630px) {
    .product-description {
        margin-left: 0px;
        padding: 20px 0 0 0;
    }
}

.product-description p {
    color: #666;
}

.product-description h6 {
    margin-bottom: 15px;
}

.product-rating {
    margin: 10px 0px 10px 0px;
}

.inner-rating-star {
    display: inline-block;

    margin-right: 2px;

    color: #b24835;
}

.bullet-descriptions {
    margin: 15px 0px 15px 0px;

    font-size: 14px;
}

.bullet-descriptions li {
    color: #999;
}

.inner-whistlist {
    display: inline-block;

    margin: 15px 10px 0px 0px;
}

.inner-stock {
    display: inline-block;
}

.order-box {
    margin-top: 10px;
}

.order-qty {
    display: inline-block;

    margin-right: 10px;
}

.btn-order {
    display: inline-block;
}

.number {
    color: #b24835;

    border: 2px solid #b24835;

    border-radius: 5px;

    text-align: center;

    padding: 6px 12px;
}

.order-qty .number:focus,
.number:active {
    outline: none;
}

table {
    font-family: 'Roboto', sans-serif;
    font-display: swap;
    border-collapse: collapse;

    width: 100%;

    font-size: 14px;
}

td,
th {
    border: 0;

    text-align: left;

    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    font-weight: 600;
}

td.justified {
    text-align: left;
}

td.justified .fa {
    color: #666;
}

th.justified {
    text-align: left;
}

.reviews-container {
    margin-top: 10px;

    clear: both;
}

.inner-reviews {
    height: 150px;
}

.review-avatar {
    width: 100px;

    height: 100px;

    float: left;

    margin-right: 20px;
}

.review-avatar img {
    width: 100%;

    border-radius: 50%;
}

.span-reveiw-star {
    color: #b24835;

    height: 25px;
}

.span-reveiw-star .stars-fa {
    display: inline-block;

    margin-right: 2px;
}

.rating-title {
    display: inline-block;

    margin-left: 10px;
}

.review-description p {
    font-size: 13px;
}

.tab-pane {
    color: #666;

    background-color: #fcfcfc;

    padding: 20px 0px 20px 0px;

    text-align: left;

    min-height: 360px;
}

.tab-pane p {
    color: #666;

    text-align: left;

    margin-bottom: 15px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    float: none;

    margin-bottom: -1px;

    display: inline-block;
    width: 25%;
}

.nav-tabs > li > a {
    margin-right: 2px;

    line-height: 1.42857143;

    /* border: none; */

    /* border-bottom: solid 1px transparent; */

    border-radius: 4px 4px 0 0;

    font-size: 0.9em;

    text-align: center;

    font-family: "Archivo Narrow", sans-serif;
    font-display: swap;
    color: #000000;

    border: 1px solid #ddd;
}
@media (max-width: 485px) {
    .tab-pane td {
        font-size: 0.75em !important;
    }
    .tab-pane p {
        font-size: 0.75em !important;
    }
    .nav-tabs > li {
        width: 50% !important;
    }
    .nav-tabs > li > a {
        width: 98% !important;
    }
}
/* 
.nav-tabs > li > a:hover {

  border-color: transparent;

  background: transparent;

} */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #00a4e6;

    cursor: default;

    background-color: #f9f9f9;

    border: 2x solid #00a4e6;
}

@media (max-width: 425px) {
    .nav-tabs > li > a {
        margin-right: 2px;
        margin-bottom: 4px;

        border-radius: 4px 4px 4px 4px;

        font-size: 0.65em;
        width: 140px;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #00a4e6;

        cursor: default;

        background-color: #f9f9f9;

        /* border: none; */

        border-bottom: solid 2px #00a4e6;

        border: 2x solid #00a4e6;

        margin-bottom: 2px;
    }
}

.nav-tabs.nav-justified {
    width: 100%;

    border-bottom: 0;
}

.nav-tabs.nav-justified > li {
    float: none;
}

.nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;

    text-align: center;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;

    left: auto;
}

/* ========== #PRODUCT LEFT SIDEBAR ========== */

.with-sidebar .product-photo-gallery {
    width: 320px;

    float: left;

    margin-right: 20px;
}

.with-sidebar .product-leftside .carousel .carousel-inner .item {
    width: 320px;
}

.with-sidebar .product-leftside .carousel .carousel-inner .item img {
    width: 100%;
}

.with-sidebar .product-description .bullet-descriptions P {
    font-size: 13px;
}

/* ==================

	3.10. Sshopping-cart CART PAGE.

   ================== */

.shopping-cart-header {
    margin-bottom: 0px;
}

.header-product {
    height: 40px;
}

.header-price {
    height: 40px;

    text-align: center;
}

.header-quantity {
    height: 40px;

    text-align: center;
}

.header-total {
    height: 30px;

    text-align: center;
}

.span-product {
    height: 140px;

    padding: 20px;
}

.span-product p {
    font-size: 13px;

    margin-bottom: 5px;
}

.span-price {
    height: 140px;

    padding: 20px;
}

.span-quantity {
    height: 140px;

    padding: 20px;
}

.span-quantity .order-qty {
    margin: 20px auto 0px auto;

    width: 73px;

    display: block;
}

.span-quantity .order-qty .number {
    color: #666;

    border: 2px solid #666;

    border-radius: 5px;

    text-align: center;

    padding: 6px 12px;
}

.span-total {
    height: 140px;

    padding: 20px;
}

.product-pic-thumb {
    width: 100px;

    height: 100px;

    float: left;

    margin-right: 5px;
}

.product-pic-thumb img {
    width: 100%;
}

.span-price h6 {
    margin-top: 30px;

    text-align: center;
}

.span-total h6 {
    margin-top: 30px;

    text-align: center;
}

.shopping-cart-bottom {
    margin-top: 50px;
}

.shop-btn-right {
    float: right;
}

.btn-update {
    display: inline-block;

    margin-right: 10px;
}

.btn-checkout {
    display: inline-block;
}

.inner-shoppping {
    height: 50px;

    clear: both;
}

.inner-product-left {
    float: left;

    font-weight: 600;
}

.inner-product-right {
    float: right;
}

.responsive-view {
    display: none;
}

.delete-item {
    float: right;

    margin-bottom: 20px;
}

.checkout-box {
    width: 500px;

    height: 300px;

    float: right;

    margin-top: 50px;
}

hr.summary {
    width: 100%;

    border-top: 1px solid #cccccc;

    margin: 10px auto 40px auto;
}

hr.summary-2 {
    width: 100%;

    border-top: 1px solid #e6e6e6;

    margin: 10px auto 10px auto;
}

.box-summary {
    height: 30px;

    padding: 0px;
}

.inner-summary-left {
    float: left;

    font-weight: 600;
}

.inner-summary-right {
    float: right;
}

.inner-summary-right strong {
    font-weight: 600;
}

/* ==================

	3.11. CHECKOUT PAGE.

   ================== */

.customer-form .form-group label {
    font-weight: 600;

    font-size: 14px;

    margin-bottom: 10px;
}

.checkout-form {
    display: block;

    width: 100%;

    height: 45px;

    padding: 6px 12px;

    font-size: 14px;

    line-height: 1.42857143;

    color: #555;

    background-color: #fff;

    background-image: none;

    border: 1px solid #d9d9d9;

    border-radius: 10px;

    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;

    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.checkout-form:focus {
    border-color: #66afe9;

    outline: 0;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
}

.checkout-form::-moz-placeholder {
    color: #999;

    opacity: 1;
}

.checkout-form:-ms-input-placeholder {
    color: #999;
}

.checkout-form::-webkit-input-placeholder {
    color: #999;
}

.order-summary {
    background: #f2f2f2;
    padding: 40px 30px 50px 30px;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    height: auto !important;
    overflow: hidden;
}

.order-summary p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

hr.summary-line {
    width: 100%;

    border-top: 1px solid #e2e2e2;

    margin: 10px auto 25px auto;
}

.inner-order {
    height: 55px;
    margin-top: 15px;
}

.inner-order2 {
    height: 55px;

    margin-top: 15px;
}

.inner-order .label-left {
    float: left;
    width: 170px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inner-order .product-total {
    float: right;
}

.inner-order2 .label-left {
    float: left;
    width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inner-order2 .product-total {
    float: right;
}

.btnAgregarCarro {
    background: black;
    font-family: "Montserrat";
    font-display: swap;
    padding: 10px 20px;
    color: white;
    border: 0;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 2px;
    margin: 0 5px 0 5px;
    width: 220px;
}

.btnAgregarCarro i {
    margin-right: 5px;
}
.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn-size {
    width: 180px;
    font-size: 0.9em;
}
.inner-summary-right {
    margin-right: 25%;
}

#botones-carro {
    width: 100%;
}
@media (max-width: 768px) {
    #btn-size {
        width: 120px;
        font-size: 0.65em;
        margin: 0 3px 0 0;
        padding: 3px 5px;
        height: 30px;
    }

    #btn-size i {
        margin-right: 5px;
    }
    .centrar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inner-summary-right {
        margin-right: 15%;
    }
}

.increment {
    float: left;
    font-weight: 700;
    font-size: 0.8em;
    /* margin-left: 10px; */
}

.label-left strong {
    font-weight: 600;
}

.inner-order img {
    position: relative;
    margin-right: 10px;
    border-radius: 4px;
    float: left;
    margin-top: -3px;
}

.inner-order .product-total strong {
    font-weight: 600;
}

.no-line {
    border-bottom: solid 1px transparent;

    text-align: center;
}

/* ==========================================================================

   	5. MEDIA QUERIES MODULE.

   ========================================================================== */

/* ==================================

	5.1. TYPOGRAPHY BREAKPOINTS VIEW.

   ================================== */

@media (min-width: 576px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 24px;

        line-height: 1.2;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 14px;
    }
}

/* ============================

	5.2 THEME BREAKPOINTS VIEW

   ============================ */

@media (max-width: 1100px) {
    .box-counter .grid-box-counter {
        padding: 20px 15px 20px 15px;

        height: 120px;
    }

    .box-counter .grid-icon-2 {
        float: left;

        margin-right: 20px;

        height: 100px;
    }
}

@media (max-width: 992px) {
    /* ============================

	1. BASE MODULE BREAKPOINTS.

   ============================ */

    /* ==============================

	2. LAYOUT MODULE BREAKPOINTS.

   ============================== */

    .footer {
        height: 100%;
    }

    .footer .main .section {
        padding: 40px 15px 20px 15px;
    }

    .center-column {
        margin: 30px 0px 30px 0px;
    }

    .sidebar {
        margin-top: 30px;
    }

    /* =============================

	3. PAGES MODULE BREAKPOINTS.

   ============================= */

    /* ========== #THEME PAGES COMMON STYLES.  ========== */

    .pages-header {
        height: 400px;
    }

    /* ========== #ABOUT PAGE #2 ========== */

    .about-image {
        margin-top: 50px;
    }

    .about-image-3 {
        margin-top: 30px;
    }

    .inner-about {
        display: inline-block;

        margin: 0px 20px 30px 0px;

        width: 250px;

        float: left;
    }

    .parallax-bg {
        height: 100%;
    }

    .bottom-benefits {
        margin: 0px;
    }

    .contact-left {
        margin-top: 0px;
    }

    .map-box {
        margin-top: 30px;
    }

    .contact-left h1 {
        font-size: 30px;
    }

    .contact-left p {
        font-size: 14px;
    }

    .contact-left-3 {
        margin-top: 30px;
    }

    .contact-right-4 {
        margin-top: 30px;
    }

    .contact-right-5 {
        margin-top: 30px;
    }

    .profile-content {
        border-left: none;

        height: 100%;

        padding: 0px;

        margin-top: 30px;
    }

    .profile-information {
        margin-top: 30px;
    }

    .error-page-container {
        min-height: 700px;
    }

    .error-page-container .middle h1 {
        font-size: 150px;
    }

    .error-page-content h1 {
        font-size: 150px;
    }

    .shop-banner-big {
        height: 100%;

        margin-bottom: 20px;
    }

    .center-banner {
        margin: 20px 0px 20px 0px;
    }

    .product-photo-gallery {
        width: fit-content;

        float: none;

        margin: 0px auto 0px auto;
    }

    .product-leftside .carousel .carousel-inner .item {
        width: 520px;
    }

    .product-leftside .carousel .carousel-inner .item img {
        width: 100%;
    }

    .product-container {
        margin-bottom: 0px;
    }

    .with-sidebar .product-photo-gallery {
        width: 520px;

        float: none;

        margin: 0px auto 0px auto;
    }

    .with-sidebar .product-leftside .carousel .carousel-inner .item {
        width: 520px;
    }

    .with-sidebar {
        margin-bottom: 30px;
    }

    .post-thumbnail {
        height: 100%;
    }

    .thumbnail-pic {
        width: 100%;

        float: none;

        margin: 0px 0px 20px 0px;
    }

    .service-front-img {
        margin-top: 30px;
    }

    .wide-section-2 .wide-section-content {
        padding: 10px 0px 10px 0px;
    }

    .wide-section-3 .wide-section-content {
        padding: 10px 0px 10px 0px;
    }

    .box-counter .grid-box-counter {
        padding: 20px 0px 20px 0px;

        height: 100%;

        margin-bottom: 10px;
    }

    .box-counter .grid-icon-2 {
        float: left;

        margin-right: 20px;

        height: 60px;
    }

    .box-counter {
        margin-top: 30px;
    }

    .box-counter .grid-box-counter {
        border-right: solid 1px transparent;

        border-bottom: solid 1px #ddd;
    }

    .bottom-grid-2 {
        border-bottom: solid 1px #ddd;
    }

    .service-box {
        margin: 20px 0px 20px 0px;

        height: 100%;

        padding: 40px 20px 50px 20px;
    }

    .span-benefits {
        padding: 50px 20px 50px 20px;
    }

    .span-benefits h5 {
        font-weight: 600;
    }

    .inner-contact-3 {
        background: #fafcfc;

        height: 100%;

        padding: 30px 20px 30px 20px;

        border: solid 1px #eff5f5;

        margin-top: 30px;
    }

    .shop-left-sidebar {
        margin-top: 0;

        padding: 15px;
    }

    .contact-box {
        margin: 20px 0px 20px 0px;

        height: 100%;

        padding: 50px 10px 60px 10px;
    }

    .career-sidebar {
        margin-top: 40px;
    }

    .desktop-view {
        display: none;
    }

    .responsive-view {
        display: inherit;

        padding: 0px 0px 0px 0px;
    }

    .inner-product-right .order-qty {
        margin: 0px;
    }

    .inner-product-right .order-qty .number {
        color: #666;

        border: 1px solid #666;

        border-radius: 5px;

        text-align: center;

        padding: 3px 8px;
    }

    .checkout-box {
        width: 100%;

        height: 300px;

        float: none;

        margin: 0px;
    }

    .posts-thumbs {
        height: 100%;
    }

    .posts-thumbs-grid {
        height: 100%;
    }

    .inner-contact-6 {
        margin-top: 40px;
    }

    .service-front-img {
        width: 100%;
    }

    .icon-boxes,
    .box-corner-shadow,
    .icon-boxes-shadow,
    .icon-boxes-hover,
    .boxes-bottom-hover,
    .left-corner-shadow,
    .right-corner-shadow {
        margin: 15px 0px 15px 0px;
    }

    .icon-boxes-shadow {
        width: 100%;

        height: 100%;

        background: #fff;

        padding: 35px 15px 50px 15px;
    }

    /* ========== #TEAM PAGE #2 ========== */

    .team-card {
        margin: 30px 0px 30px 0px;
    }

    .banner {
        display: none;
    }

    /* ==================================

	4. COMPONENTS MODULE BREAKPOINTS.

   ================================== */
}

@media (max-width: 767px) {
    /* ============================

	1. BASE MODULE BREAKPOINTS.

   ============================ */

    /* ==============================

	2. LAYOUT MODULE BREAKPOINTS.

   ============================== */

    .bottom-footer {
        text-align: center;
    }

    .left-footer {
        float: none;
    }

    .right-footer {
        float: none;

        color: #595959;
    }

    .footer .main .section {
        padding: 40px 15px 10px 15px;
    }

    .footer-logo {
        width: 80px;

        margin-bottom: 20px;
    }

    /* =============================

	3. PAGES MODULE BREAKPOINTS.

   ============================= */

    .section-title {
        padding: 0px 20px 0px 20px;
    }

    .error-page-container {
        min-height: 600px;
    }

    .error-page-container .middle h1 {
        font-size: 100px;
    }

    .error-page-content h1 {
        font-size: 100px;
    }

    .inner-reviews {
        height: 100%;
    }

    .review-avatar {
        width: 100px;

        height: 100px;

        float: none;

        margin: 0px 0px 10px 0px;
    }

    .product-description {
        padding: 10px;
    }

    .product-banner {
        display: none;
    }

    .call-banner {
        padding: 15px 0px 15px 0px;

        height: 100%;

        height: 100%;
    }

    .banner-left {
        float: none;
    }

    .banner-left h3 {
        text-align: center;
    }

    .banner-left h6 {
        text-align: center;

        font-size: 14px;
    }

    .banner-right {
        float: none;
    }

    .banner-right p {
        text-align: center;

        margin-top: 15px;
    }

    .parallax-content {
        width: 100%;

        padding: 0px 20px 0px 20px;
    }

    .profile-about {
        height: 100%;

        padding: 30px;

        margin-top: 40px;
    }

    .author-avatar {
        width: 40px;

        height: 40px;
    }

    .author-name {
        padding-top: 12px;
    }

    .blog-content h1 {
        font-size: 26px;
    }

    .address-center {
        margin: 30px 0px 30px 0px;
    }

    .pricing-center {
        margin: 20px 0px 20px 0px;
    }

    /* ==================================

	4. COMPONENTS MODULE BREAKPOINTS.

   ================================== */

    .inner-counter {
        margin: 30px 0px 30px 0px;
    }
}

@media (max-width: 630px) {
    .inner-careers {
        clear: both;

        height: 100%;

        padding: 30px 0px 30px 0px;

        border-bottom: solid 1px #f2f2f2;
    }

    .btn-apply {
        float: none;

        margin-top: 40px;
    }
}

@media (max-width: 576px) {
    /* ============================

	1. BASE MODULE BREAKPOINTS.

   ============================ */

    .btn {
        padding: 4px 12px;

        font-size: 14px;
    }

    /* ==============================

	2. LAYOUT MODULE BREAKPOINTS.

   ============================== */

    /* =============================

	3. PAGES MODULE BREAKPOINTS.

   ============================= */

    .about-signature {
        float: none;

        width: 150px;

        margin: 20px 0px 0px 0px;
    }

    .error-page-container {
        min-height: 600px;
    }

    .product-photo-gallery {
        width: fit-content;
        max-width: 80%;
    }

    .product-leftside .carousel .carousel-inner .item {
        width: 100%;
    }

    .product-leftside .carousel .carousel-inner .item img {
        width: 100%;
    }

    .thumbnails-carousel li {
        width: 60px;

        display: inline-block;
    }

    .thumbnails-carousel img {
        width: 100%;
    }

    .with-sidebar .product-photo-gallery {
        width: 100%;
    }

    .with-sidebar .product-leftside .carousel .carousel-inner .item {
        width: 100%;
    }

    .pagination-small .pagination a {
        padding: 6px 14px;

        text-decoration: none;

        border: 1px solid #e6e6e6;

        font-size: 13px;
    }

    .btn-read-more {
        margin-top: -18px;
    }

    .btn-read-more .fa {
        font-size: 12px;
    }

    .btn-read-more p {
        font-size: 12px;
    }

    .services-icons {
        text-align: center;
    }

    .services-us {
        margin-top: 30px;

        padding: 20px 20px 20px 20px;

        box-shadow: none;

        -moz-box-shadow: none;

        -webkit-box-shadow: none;

        -o-box-shadow: none;

        border-radius: 0px;
    }

    .services-us h3 {
        margin-bottom: 10px;

        text-align: center;
    }

    .services-us p {
        color: #999;

        line-height: 1.7;

        text-align: center;
    }

    .icon-png {
        margin: 20px auto 20px auto;

        float: none;

        width: 40px;
    }

    .inner-services-icons {
        height: 100%;

        clear: both;
    }

    .contact-left h1 {
        font-size: 24px;
    }

    .inner-time-info .clock {
        float: left;

        margin-right: 10px;

        width: 50px;
    }

    .inner-time-info p {
        line-height: 1.3;
    }

    .author-avatar {
        width: 40px;

        height: 40px;

        margin-right: 10px;
    }

    .author-name {
        padding-top: 8px;
    }

    .number {
        padding: 4px 12px;
    }

    .responsive-view {
        display: inherit;

        padding: 0px;
    }

    .inner-product-right {
        text-align: right;

        width: 180px;
    }

    .checkout-box {
        width: 100%;

        height: 300px;

        float: none;
    }

    .order-summary {
        padding: 30px 5% 30px 5%;
    }

    .order-summary p {
        font-size: 0.75em !important;
    }

    .no-line p {
        font-size: 13px;

        margin-top: 20px;
    }

    .blog-content h1 {
        font-size: 24px;

        line-height: 1.2;
    }

    /* ========== #ABOUT PAGE #3 ========== */

    .wide-right {
        height: 100%;
    }

    .rounded-icon {
        display: block;

        font-size: 25px;

        line-height: 60px;

        background: #fff;

        color: white;

        width: 60px;

        height: 60px;

        text-align: center;

        vertical-align: bottom;

        border-radius: 50px;

        float: none;

        margin: auto;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
            0 2px 4px 0 rgba(0, 0, 0, 0.08);
    }

    .rounded-icon .fa {
        color: #000;

        font-size: 25px;
    }

    .icon-rounded-info h5 {
        font-weight: 600;

        text-align: center;

        margin: 10px 0px 10px 0px;
    }

    .icon-rounded-info p {
        color: #999;

        text-align: center;
    }

    .inner-box-right {
        position: relative;

        margin: auto;

        width: 100%;

        height: 100%;

        border-radius: 3px;

        padding: 40px;
    }

    .inner-item-boxes {
        margin: 20px 0px 20px 0px;
    }

    /* ==================================

	4. COMPONENTS MODULE BREAKPOINTS.

   ================================== */

    .testimonial-quote {
        margin: 15px 20px 5px 20px;
    }

    .testimonial-quote P {
        font-size: 13px;
    }
}

@media (max-width: 450px) {
    /* ============================

	1. BASE MODULE BREAKPOINTS.

   ============================ */

    /* ==============================

	2. LAYOUT MODULE BREAKPOINTS.

   ============================== */

    /* =============================

	3. PAGES MODULE BREAKPOINTS.

   ============================= */

    /* ==================================

	4. COMPONENTS MODULE BREAKPOINTS.

   ================================== */
}

/* Timeline letras */

#time-letras {
    font-size: 1.09em;

    letter-spacing: 2px;

    color: #999;
}

#time-letras img {
    width: 70%;
}

#fondo-valores {
    /* background-image: url('../img/images/puma-03.png'); */

    background-size: cover;
}

@media (max-width: 1020px) {
    #no-mostrar {
        display: none;
    }

    #fondo-valores {
        background-image: none;
    }
}

@media (max-width: 420px) {
    #mision-box {
        padding: 20px 0px 20px 0px !important;
    }
}

#desk {
    display: block;
}

#celu {
    display: none;
}

@media (max-width: 991px) {
    #celu {
        display: block;
    }

    #desk {
        display: none;
    }
}

/*
    POP UP INFORMATIVO
*/
.overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 222222229;
}
.overlay2:target {
    visibility: visible;
    opacity: 1;
}

.popup2 {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 400px;
    transition: all 5s ease-in-out;
    position: absolute;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    z-index: 222222229;
    transform: translate(-50%, -50%);
}


/* Product Configuration */
.product-color span,
.cable-config span {
    font-size: 14px;
    font-weight: 400;
    color: #86939e;
    margin-bottom: 20px;
    display: inline-block;
}

/*Tienda principal diseño */

.categoria-producto {
    font-size: 10px;
    padding: 0 10px;
    color: #b24835;
    font-weight: 600;
    margin-bottom: 0px;
}

.producto-nombre {
    color: black;
    padding: 0 10px;
    font-size: 0.9em !important;
}

#ver-producto-btn {
    background-color: #b24835;
    margin-top: 5px;
    border: 1px solid #d85644;
    color: white;
    width: auto;
    padding: 6px 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em !important;
    border-radius: 24px;
}

#ver-producto-btn2 {
    background-color: #112448;
    margin-top: 5px;
    border: 1px solid #112448;
    color: white;
    width: auto;
    padding: 6px 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em !important;
    border-radius: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .shop-thumb-img img {
        width: 120px;
    }

    .categoria-producto {
        font-size: 10px;
        color: #b24835;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .producto-nombre {
        color: black;
        padding: 0 10px;
        font-size: 0.75em !important;
    }

    #ver-producto-btn {
        padding: 0px 25px;
        font-family: 'Roboto', sans-serif;
        font-display: swap;
        font-size: 0.6em !important;
        border-radius: 24px;
    }
}

@media (max-width: 480px) {
    #ver-producto-btn {
        display: none;
    }
    .shop-front-thumbs {
        padding: 10px 0px;
    }
    .shop-thumb-img {
        width: fit-content;
        overflow: hidden;
    }
    .shop-thumb-img img {
        height: 120px;
        overflow: hidden;
    }
    #product-loading-store {
        height: 100px;
        overflow: hidden;
    }
    .categoria-producto {
        font-size: 0.55em;
    }
    .producto-nombre {
        font-size: 0.65em !important;
    }
}

@media (max-width: 320px) {
    .shop-front-thumbs {
        padding: 7px 0;
    }
    .shop-thumb-img {
        width: 90%;
        overflow: hidden;
    }
    .shop-thumb-img img {
        height: 100px;
        overflow: hidden;
    }

    .categoria-producto {
        font-size: 0.45em;
    }
    .producto-nombre {
        font-size: 0.60em !important;
    }
}

#card-sin-border {
    box-shadow: none !important;
    text-decoration: none !important;
}

/* cacjas acoordrion*/

details {
    width: 100%;
    min-width: 100%;
    /* max-width: 700px; */
    padding: 6px 8%;
    position: relative;
    font-size: 18px;
    border: 1px solid #e2e2e2;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: white;
}

.banner-producto img {
    height: 250px;
}

/* Checkbox css */
.filtro__check .v-input--selection-controls__input {
    margin-top: -8px !important;
    color: #212529 !important;
    border-color: #212529;
}

.filtro__check .v-label {
    color: #212529 !important;
}

.filtro__check .accent--text {
    color: #b24835 !important;
    caret-color: #b24835 !important;
}

#boton-espacio {
    margin-top: 5px;
    width: 340px;
}

@media (max-width: 600px) {
    #boton-espacio {
        margin-top: 5px;
        width: 100%;
    }

    .banner-producto img {
        height: 322px;
        width: auto;
        object-fit: cover;
        object-position: center center;
    }

    .centrado-caja {
        margin-left: 1rem;
    }
}

@media (max-width: 319px) {
    .centrado-caja {
        margin-left: 1%;
    }
}

@media (max-width: 330px) {
    .banner-producto img {
        height: 222px;
    
    }
}
/* Vista listado de productos */
.list-cart {
    display: flex;
}
.nombre {
    width: 100px;
}
.btn {
    width: 200px;
}
.delete {
    width: 50px;
}
.filtro__check {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -35px;
}
.count__filter {
    margin-top: 20px;
}

.total-titulo {
    font-size: 24px !important;
    margin: 0px 0 15px 0;
    font-weight: 700;
    text-align: center;
}
[v-cloak] {
    display: none;
}

.tabs-texto{
    padding: 0 22% 0 22% !important;
}

.scrolling-wrapper {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    white-space: nowrap !important;
    align-items: center;
    justify-content: center 
  
}

@media (max-width: 425px) {
    
    .tabs-texto{
        padding: 0 0 0 0 !important;
    }

    .scrolling-wrapper {
        display: block !important;
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        white-space: nowrap !important;
        height: 458px !important;
    }
}



#relacionado-card {
    cursor: pointer; 
    
     display: inline-block !important;
     width: auto!important;
     margin: 15px !important;
     max-width: 17%;
     height: auto !important;
     min-height: 275px;
     max-height: 300px;
     /* border: 0 solid white; */
     /* margin-bottom: -20px; */
}

#relacionado-card .v-card__subtitle {
    font-size:0.65em !important;
    color:rgb(178, 72, 53) !important;
    padding:0 16px !important;
}

#relacionado-card .v-card__title {
    font-size:0.8em !important;
    padding:0px 16px 16px !important;
    line-height: 16px !important;
    word-break: normal !important;
    
}

@media (max-width: 650px) {
    
    #relacionado-card {
        cursor: pointer; 
        padding:10px;
         height: 295px !important;
         width: 30% !important;
         margin: 10px 5px 0 0 !important;
         max-width: 65%;
   
    }
}

@media (max-width: 425px) {
    
    #relacionado-card {
        cursor: pointer; 
        padding:10px;
         height: 295px !important;
         width: 65% !important;
         margin: 10px 5px 0 0 !important;
         max-width: 65%;
   
    }

    .container {
        max-height: 358px;
    }
}